/* Martucci Flavio - flavio.martucci.fm@gmail.com */

#contenitoreGioco {
    /* display: flex; */
    /* justify-content: center; */
    /* flex-direction: column; */
    /* width: auto; */
    /* align-content: center; */
    /* flex-direction: row; */
    /* flex-wrap: nowrap; */
}

#schermoInfoPartita {
    /* display: flex;
    justify-content: center; */
    text-align: center;
    border: 1px solid gray;
    background-color: gray;
    margin: 0% 10%;
    text-shadow: 1px 1px 1px black;
}

#divGioco {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

table {
    border: 4px solid rgb(0, 0, 146);
    background-color: blue;
    padding: 10px;
    border-spacing: 10px;
    border-radius: 4%;
    box-shadow: 10px 10px 5px #cccccc;
}

td {
    border: 2px solid rgb(0, 0, 146);
    background-color: gray;
    overflow: hidden;
    border-radius: 100%;
    min-height: 60px;
    min-width: 60px;
    height: 60px;
    width: 60px;
    box-shadow: 1px 1px 3px #000000;
}


.cellaPedina {
    border-radius: 100%;
    box-shadow: inset 2px 2px 4px #000000;
    height: 100%;
    width: 100%;
}
