
#contenitoreGioco {
    /* display: flex; */
    /* justify-content: center; */
    /* flex-direction: column; */
    /* width: auto; */
    /* align-content: center; */
    /* flex-direction: row; */
    /* flex-wrap: nowrap; */
}



#schermoInfoPartita {
    /* display: flex;
    justify-content: center; */
    text-align: center;
    border: 1px solid gray;
    margin: 0% 10%;
}

#divGioco{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
table {
    border: 2px solid rgb(0, 0, 146);
    background-color: blue;
    padding: 10px;
    border-spacing: 10px;
    border-radius: 4%;
    box-shadow: 10px 10px 5px #cccccc;
}

td{
    border: 2px solid rgb(0, 0, 146);
    background-color: gray;
    border-radius: 100%;
    height: 60px;
    width: 60px;
    box-shadow: 1px 1px 3px #000000;
}
